%header.green.big-padding
  .col-md-10.no-float.center-block
    .col-md-6.no-padding.inline-block
      =image_tag "tiendus.png", width:"100px"
      %h1.white-text.ultra-big.kostic
        %strong
          Ofrece tus productos digitales a tu audiencia
    .col-md-5.inline-block
      =image_tag "mono.png"
.grey.white-text.big-padding.kostic
  .col-md-10.no-float.center-block
    .absolute{style:"bottom:-4.5em;left:0px;width:100%;"}
      .text-center.big
        .col-md-3.inline-block
          .white.grey-text.circle
            %strong 1
        .col-md-3.inline-block
          .white.grey-text.circle
            %strong 2
        .col-md-3.inline-block
          .white.grey-text.circle
            %strong 3            
    %h2.bigger.kostic.text-center
      %strong Tiendus en 3 pasos
    %div.text-center.top-space
      .col-md-3.inline-block.text-left
        =image_tag "upload-icon.png", class: "col-md-10 inline-block"
        .top-space
          %strong.medium
            Sube tus archivos a Tiendus
          %p.white-text.text-justify.small
            ¡Libro digital, canción, comic, curso o lo que se te ocurra! Si lo puedes meter en un .Zip, lo puedes vender.
      .col-md-3.inline-block.text-left
        =image_tag "youtube-icon.png", class: "col-md-10 inline-block"
        .top-space
          %strong.medium
            Cuéntales a tus fans
          %p.white-text.text-justify.small
            Comparte el link personalizado de tu producto en tus redes sociales o sitio web.    
      .col-md-3.inline-block.text-left
        =image_tag "money-icon.png", class: "col-md-10 inline-block"
        .top-space
          %strong.medium
            Vende y gana dinero
          %p.white-text.text-justify.small
            Recibe tu dinero en tu cuenta de PayPal y tu cliente su producto en su email imediatamente. Así de fácil.