%header.green.big-padding
  .col-md-10.no-float.center-block
    .col-md-6.no-padding.inline-block
      =image_tag "tiendus.png", width:"100px"
      %h1.white-text.ultra-big
        %strong
          Ofrece tus productos digitales a tu audiencia
    .col-md-5.inline-block
      =image_tag "mono.png"