.col-md.10.center-block.no-float
  %article.card.large-padding.text-center
    %h1 Links de descarga
    %p 
      Este link expirará en
      =distance_of_time_in_words(DateTime.now,@link.expiration_date)
    %p
      Podrás acceder a él
      = 5 - @link.downloads
      veces más