%table.table.table-striped.table-hover
  %thead
    %tr
      %th #
      %th Producto
      %th Valor
      %th Estado
      %th Fecha
  %tbody
    -@orders.each do |order|
      -order.products.each do |p|
        %tr
          %td= order.id
          %td= p.name
          %td= p.pricing
          %td
            -if order.payed?
              ="Pagada"
            -else
              ="No completado"
          %td= order.created_at