// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets"; 
@import "bootstrap";

/* Texto */
.bold {
  font-weight: bold;
}

/* Colores */
$colors : ( 
  green: #16a085, 
  grey: #5A6576, 
  other-grey: #E7ECEE, 
  blue: #058CC5, 
  red: #d2527f, 
  light-blue: #3498DB, 
  white: white,
  teal: #009688
); 
@each $color_name,$color in $colors{ 
  .#{$color-name}{ 
    background-color: $color; 
  } 
  .#{$color-name}-text{ 
    color: $color; 
  } 
}

/* Paddings */
.large-padding {
  padding: 5px 10px;
}

.big-padding {
  padding: 2em;
}

.no-padding {
  padding: 0;
}

/* Margins */

.no-margin {
  margin: 0;
}

.big-top-space {
  margin-top: 50px;
}

.top-space {
  margin-top: 1em;
}

.bottom-space {
  margin-bottom: 2em;
}

/* Alineamiento */
.no-float {
  float: none !important;
}

.in-top {
  vertical-align: top !important;
}

.inline-block {
  float:none !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

.absolute {
  position: absolute;
}

/* Tamaños */
.small {
  font-size: 12px;
}

.normal {
  font-size: 1.2em;
}

.medium {
  font-size: 1.5em;
}

.big {
  font-size: 3em;
}

.bigger {
  font-size: 4em;
}

.ultra-big {
  font-size: 7em;
}
