%article
  %h3.large-padding.red.white-text.no-margin= link_to product.name,product,class:"white-text"
  .large-padding.text-left
    .col-md-9.inline-block.no-padding=product.description
    .col-md-3.inline-block.no-padding 10 ventas